.main-game-container {
    border: 1px solid black;
    width: 90%;
    height: 80vh;
    display: flex;
    margin: auto;
    margin-top: 10vh;
}

.menu-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bars-background.jpg");
}

.menu-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px dashed black;
    padding-left: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.menu-content > div {
    display: flex;
}

.menu-content > div > h3 {
    margin-right: 0.2em;
}

.menu-bar, .inventory-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 85%;
}

#menu-bar, #inventory-bar {
    width: 100%;
    border: 2px dashed black;
    font-family: cursive;
    padding: 0.3em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}

.game-content {
    height: 100%;
    width: 55%;
}

.inventory-container {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/bars-background.jpg");
}

.game-content {
    display: flex;
    flex-direction: column;
}

.top-bar-game-content {
    height: 10vh;
    background-image: url("img/bars-background.jpg");
    border: 2px solid black;
}

.pet-game-content {
    display: flex;
    height: 75vh;
    background-image: url("img/background -pet.png");
    background-size: 100%;
    border: 3px solid black;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.bottom-bar-game-content {
    height: 12vh;
    background-image: url("img/bars-background.jpg");
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons {
    display: grid;
    height: 6vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.action-button {
    background-color: white;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
  
.action-button:hover {
    background-color: #93C199;
}
  
.action-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}
  
.action-button > img {
    scale: 1.40;
}

.time {
    font-size: 2em;
    display: flex;
    justify-content: right;
    padding-right: 1em;
    padding-top: 0.5em;
}


.inventory-items {
    height: 90vh;
    width: 85%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin: auto;
    margin-bottom: 1em;
}

.inventory-items img {
    scale: 4;
}

.inventory-item {
    border: 2px dashed grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
